
.postcommentform {
   display: flex;
   justify-content: space-between;
   font-size: 0.85em;
   padding: 1.5em 1.25em;
}

.postcommentform input {
   border: none;
   width: 100%;
}

.postcommentform input:focus {
   outline: none;
}

.postcommentform input:disabled {
   background-color: transparent;
   opacity:0.5;
   cursor:default;
}

.postcommentform input::placeholder {
   opacity:0.5;
}

.postcommentform button {
   border:none;
   background-color: transparent;
   cursor: pointer;
   color: #38afff;
   transition: all 0.3s ease-in-out;
}

.postcommentform button:disabled {
   opacity: 0.5;
   transition: all 0.3s ease-in-out;
   cursor: default;
 }